entrypoint = "main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "openssl", "postgresql"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
deploymentTarget = "autoscale"
publicDir = "static"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[[ports]]
localPort = 81
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[agent]
expertMode = true
