<div class="col-md-1">
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-outline-primary" title="Edit Employee">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <a href="/erp/hr/generate-payslip/{{ employee[0] }}" class="btn btn-outline-success" title="Generate Payslip">
                                            💼
                                        </a>
                                    </div>
                                </div>